@{
	ViewData["Title"] = "Log In to your account";
}

<div class="row">
	<div class="col-md-6 offset-md-3">
		<h4>Log in to your account</h4>


		<div class="row">
			<div class="col-md-8 offset-md-2">
				<form asp-controller="Authentication" asp-action="Login">
					<div>
						<label for="emailAddress">Email Address</label>
						<input type="email" class="form-control" id="emailAddress" placeholder="Enter Email"/>
					</div>

					<div>
						<label for="password">Password</label>
						<input type="password" class="form-control" id="password" placeholder="Enter Password" />
					</div>

					<button type="submit" class="btn btn-outline-success mt-2">Login</button>
				</form>
			</div>
		</div>
	</div>
</div>